/* global  */
* {
    background-color: #333;
    color: rgb(239, 239, 239);
}

/* navigation bar */
.nav {
    overflow: hidden;
}
  
.nav a {
    background-color: rgb(38, 39, 41);
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.name {
    background-color: #4CAF50;
}

/* headshot */
.headshot {
    height: 150px;
    width: 125px;
    border-radius: 8px;
}