/* global  */

@font-face {
    font-family: Libre_Franklin;
    src: url('/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: Libre_Franklin;
}

body { 
    margin: 0;
    padding: 0;
    background-color: #333;
    color: rgb(239, 239, 239);
    height: 100%;
}


/* navigation bar */
.nav {
    overflow: hidden;
    height: 4rem;
    margin-bottom: 1.5rem;
    border-top: 5px solid rgb(128,0,0);
    background-color: rgb(37, 37, 37);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.87);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.87);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.87);
}

#name {
    float: left;
    margin-top: 0.9rem;
    margin-left: 0.6rem;
    font-size: 25px;
}   

#buttons {
    float: right;
    margin-top: 0.9rem;
    margin-right: 0.9rem;
}

/* headshot
.headshot {
    float: left;
    margin-top: 2rem;
    margin-left: 13%;
    height: 150px;
    width: 125px;
    border-radius: 8px;
} */


/* info section */
.info {
    width: 90%;
    margin: auto;
    font-size: 20px;
}

#first-subsection {
    border-radius: 7px 7px 0px 0px;
}

#last-subsection {
    border-radius: 0px 0px 7px 7px;
}


#intro, #story {
    width: 90%;
    margin: auto;
    font-size: 85%;
}

a:link {
    font-style: italic;
    text-decoration: none;
    color: rgb(239, 239, 239);
}

a:active {
    font-style: italic;
    text-decoration: none;
    color: rgb(239, 239, 239);
}

a:visited {
    font-style: italic;
    text-decoration: none;
    color: rgb(239, 239, 239);
}

.collapsible {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 90%;
    background-color: rgb(37, 37, 37);
    color: rgb(239, 239, 239);
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
    display: none;
    overflow: hidden;
    margin-top: 20px;
    color: rgb(220, 219, 219);
}

/* skills */
#skills span {
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    background-color: rgb(181, 189, 104);
    color: rgb(35, 35, 35);
}

#about span {
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    background-color: #3b82f6;
    color: rgb(35, 35, 35);
}

/* footer  */
.footer {
    text-align: center;
    position: sticky;
    width: 88%;
    margin: auto;
    margin-top: 2rem;
    font-size: 80%;
    border-top: 1px solid rgba(141, 140, 140, 0.08);
    padding-top: 2rem;
    color: rgb(101, 101, 101);
}